.location-selector {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    max-height: 50%;

    h3 {
        text-align: left;
        width: 100%;
        margin: 0 0 0.5rem 0;
    }

    .location-selector-input-container {
        background-color: white;
        border-radius: 10px;
        height: 2.5rem;
        padding: 0 15px;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        position: relative;
        margin-bottom: 5px;
        max-width: 92%;

        .location-selector-input {
            background-color: transparent;
            border: none;
            height: 100%;
            font-size: 1.25rem;
            margin-left: 5px;
            margin-right: 5%;

            &:focus {
                outline: none;
            }
        }

        #location-selector-icon {
            color: #126cbb;
            min-width: 30px;
        }
    }

    .location-selector-results {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 10;
        width: 100%;
        background-color: white;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        max-height: 200px;
        overflow-y: auto;

        div:hover {
            background-color: #e0e0e0;
            cursor: pointer;
        }
    }

    .location-selector-list {
        padding: 0;
        margin: 0;
        align-items: left;
        overflow-y: auto;
        margin-bottom: 0.5rem;

        li {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-top: 0.5rem;
            width: 100%;

            label {
                width: 100%;
                text-align: left;
            }
        }
    }
}