.weather-card {
  background: white;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &.main {
    background: #90aac0;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .weather-card-title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  .weather-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    // grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .weather-card-item {
    background: #f9f9f9;
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

    .weather-card-label {
      font-size: 0.8rem;
      color: #555;
    }

    .weather-card-value {
      font-size: 1.2rem;
      font-weight: bold;
      color: #333;
    }
  }

  .weather-card-button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background: #126cbb;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
      background: #0e5a9c;
    }
  }
}